init_config:
  # Any global configurable parameters should be added here

instances:
  - check_name: true.passes
    command: true
    tags: ['custom:tag']
  - check_name: false.passes
    command: false
    return_codes: [1]
    tags: ['custom:tag']
